.me-container {
  max-width: 800px;
  text-align: left;
  line-height: 250%;
  background-color: rgba(215, 216, 216, 0.7);
  padding: 50px;
  border-radius: 5px;
}

.intro {
    padding-bottom: 40px;
    font-size: 20px;
}

h1 {
    padding-bottom: 20px;
}
