.cards {
  padding: 4rem;
  background: white;
}

.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #242424;
  transform: translateX(-50%);
}

.title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #242424;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

/* .card__container {
  transition: 0.3s;
  animation: ease-in;
}

.card__container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}  */

.cards__items {
  margin-bottom: 24px;
}

@media only screen and (min-width: 800px) {
  .cards__items {
    display: flex;
  }
}
